<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs',{ pageName : "Settings" }) %>

  <body>

    <%- include('../partials/nav.ejs') %>

    <main class="d-flex justify-content-center">

      <form class="w-40" method="POST" action="/account/edit?_method=PUT">

        <h1>Edit Account Details</h1>

        <div class="mb-2">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" id="name" value="<%= user.name%>" />
        </div>

        <div class="mb-2">
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" id="email" value="<%= user.email%>">
        </div class="mb-2">

        <div class="mb-2">
          <label for="avatar">Avatar (url)</label>
          <input class="form-control" type="text" name="avatar" id="avatar" value="<%= user.avatar%>">
        </div>

        <div>
          <button class="btn-show mt-2" type="submit">Submit</button>
        </div>

      </form>

    </main>

    <%- include('../partials/footer.ejs') %>

  </body>

</html>