<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs',{ pageName : "Books I'm reading" }) %>
    <%- include('../partials/nav.ejs') %>

        <body>

            <main>

                <h1>Books I'm reading</h1>

                <h2>List view</h2>
                <% for (let i=0; i < books.length; i++) { %>
                    <p><a class="list-link" href="/<%= username %>/<%= books[i]._id %>">
                            <%= `${books[i].author}, ${books[i].title}` %>
                        </a></p>
                    <% } %>

                        <h2>Cover view</h2>
                        <div class="container d-flex justify-content-center ml-3">
                            <% for (let i=0; i < books.length; i++) { %>
                                <div class="cover-container">
                                    <a class="cover-view" href="/<%= username %>/<%= books[i]._id %>"><img
                                            src=<%=books[i].cover %> alt="
                                        <%= books[i].title %> " class="cover-grid">
                                    </a>
                                </div>
                                <% } %>
                        </div>
            </main>
        </body>

</html>