<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs',{ pageName : "Books I want to read" }) %>
    <%- include('../partials/nav.ejs') %>


        <h1>Books I Want to Read</h1>

        <h2>List view</h2>
        <% for (let i=0; i < books.length; i++) { %>
            <p><a href="/<%= username %>/<%= books[i]._id %>">
                    <%= `${books[i].author}, ${books[i].title}` %>
                </a></p>
            <% } %>

                <h2>Cover view</h2>
                <% for (let i=0; i < books.length; i++) { %>
                    <div class="coverContainer">
                        <a href="/<%= username %>/<%= books[i]._id %>"><img src=<%=books[i].cover %> alt="<%=
                                books[i].title %> "></a>
                    </div>
                    <% } %>

                        </body>

</html>