<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs',{ pageName : "Books I want to read" }) %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <main>

                <h1 class="books-list-h">Books I Want to Read</h1>

                <h2>List view</h2>
                <% for (let i=0; i < books.length; i++) { %>
                    <p class="d-flex justify-content-left ms-5"><a class="list-link ps-2 pe-3"
                            href="/<%= books[i]._id %>">
                            <%= `${books[i].author} - '${books[i].title}' ` %>
                        </a></p>
                    <% } %>

                        <h2>Cover view</h2>

                        <div class="container d-flex justify-content-center">
                            <% for (let i=0; i < books.length; i++) { %>
                                <div class="cover-container">
                                    <a class="cover-view" href="/<%= books[i]._id %>"><img src=<%=books[i].cover %>
                                        alt="
                                        <%= books[i].title %>" class="cover-grid">
                                    </a>
                                </div>
                                <% } %>
                        </div>

            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>