<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{ pageName : book.title }) %>

    <body>
        <%- include('partials/nav.ejs') %>
            <main>
                <header>
                    <h1 class="book-title">
                        <%= book.title %>
                    </h1>

                    <p class="reading-status"> <b> Reading Status:</b>
                        <% if (book.readingStatus==="reading" ) { %>
                            Currently reading this book
                            <% } %>
                                <% if (book.readingStatus==="read" ) { %>
                                    I've read this book
                                    <% } %>
                                        <% if (book.readingStatus==="wanttoread" ) { %>
                                            I want to read this book
                                            <% } %>
                    </p>
                </header>
                <div class="container d-flex align-items-start ">

                    <div class="myfavoritediv text-center" >

                    <div class="book-display mb-3">
                        <img class="img-fluid" src=<%=book.cover %> alt="<%= book.title %>">
                    </div>

                    <div class="show-page-buttons container">
                        <form class="edit-button" action="/<%= book._id %>/edit">
                            <button class="btn-show" type="submit"> Edit Book</button>
                        </form>

                        <form class="remove-button" action="/<%= book._id %>?_method=DELETE" method="POST">
                            <button class="btn-show" type="submit"> Remove Book</button>
                        </form>
                    </div>

                    </div>



                    <div class="book-info mt-5">
                        <p> <strong>Author:</strong>
                            <%= book.author %>
                        </p>
                        <p> <b>Year Published:</b>
                            <%= book.year %>
                        </p>
                        <p> <b>Genre:</b>
                            <%= book.genre %>
                        </p>
                        <p> <b>Pages:</b>
                            <%= book.pages %>
                        </p>
                        <p><b>Audiobook Hours:</b>
                            <%= book.audioBook %>
                        </p>
                        <p class="book-notes"> <b> Notes: </b>
                            <%= book.notes %>
                        </p>

                    </div>
                </div>

            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>