<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.title %></title>
</head>
<body>

    <h1><%= book.title %></h1>

    <div class="bookDisplay">
        <img src=<%= book.cover %> alt="<%= book.title %>">
        <p>Reading Status: <%= book.readingstatus %></p>
    </div>

    <div class="bookInfo">
        <p>Author: <%= book.author %></p>
        <p>Year Published: <%= book.yearpublished %></p>
        <p>Genre: <%= book.genre %></p>
        <p>Pages: <%= book.pages %></p>
        <p>Audiobook Length: <%= book.audiobook %></p>
    </div>

    <div class="bookNotes">
        <p>>Notes: <%= book.notes %></p>
    </div>

    <div class="showPageButtons">
        <form action="/<%= book._id %>/edit">
            <input type="submit" value="Edit Book">
        </form>

        <form action="/<%= book._id %>/delete">
            <input type="submit" value="Remove Book">
        </form>
    </div>

</body>
</html>