<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs',{ pageName : `Edit ${book.title}` }) %>
    <%- include('partials/nav.ejs') %>

        <body>

            <main class="d-flex justify-content-center flex-lg-column">

                <h1 class="edit-title">Edit Book</h1>
                <form class="edit-new-page" method="POST" action="/<%=username%>/<%= bookId%>?_method=PUT">
                    <table class="d-flex justify-content-center">

                        <tr class="edit-form-width">
                            <th>
                                <input name="username" type="hidden" value="<%=username%>">
                            </th>
                            <th style="width:70%"></th>
                        </tr>

                        <tr>
                            <td>
                                <label> Book Title: </label>
                            </td>
                            <td>
                                <input name="title" type="text" value="<%= book.title%>">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label> Author Name: </label>
                            </td>
                            <td>
                                <input name="author" type="text" value="<%= book.author%>">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="year"> Year Published: </label>
                            </td>
                            <td>
                                <input id="year" name="year" type="number" value="<%= book.year%>">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="genre"> Book Genre: </label>
                            </td>
                            <td>
                                <input id="genre" name="genre" type="text" value="<%= book.genre%>">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="cover"> Book Cover Image: </label>
                            </td>
                            <td>
                                <input id="cover" name="cover" type="text" value="<%= book.cover%>">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="pages"> Pages #: </label>
                            </td>
                            <td>
                                <input id="pages" name="pages" type="number" value="<%= book.pages%>">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="audioBook"> AudioBook Hours: </label>
                            </td>
                            <td>
                                <input id="audioBook" name="audioBook" type="number" value="<%= book.audioBook%>">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="readingStatus"> Book Reading Status:: </label>
                            </td>
                            <td>
                                <select style="width: 250px" name="readingStatus" id="readingStatus">
                                    <option value="read">I've read this book</option>
                                    <option value="reading">I'm reading this book</option>
                                    <option value="wanttoread">I want to read this book</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="notes"> Notes: </label>
                            </td>
                            <td>
                                <input style="height: 70px; width: 250px" id="notes" name="notes" type="text"
                                    value="<%= book.notes%>">
                            </td>
                        </tr>

                        <!-- <tr>
                            <td class="d-flex justify-content-center">
                            </td>
                        </tr> -->

                    </table>
                    <input class="btn-show mt-4" type="submit" value="Submit">
                </form>

            </main>
        </body>

</html>