<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs',{ pageName : "Home" }) %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('partials/nav.ejs') %>

            <main>

                <section class="mb-4">
                    <h3><a class="home-library" href='/currentlyreading'>Books I'm Reading</a></h3>

                    <div class="container d-flex mb-2">
                        <% for (let i=0; i < currentlyReading.length && i < 8; i++) { %>
                            <div class="cover-container-home cover-view-home">
                                <a href="/<%= currentlyReading[i]._id %>"><img src=<%=currentlyReading[i].cover %> alt="
                                    <%= currentlyReading[i].title %> "
                                        class="cover-grid-home">
                                </a>
                            </div>
                            <% } %>

                    </div>
                    <form action="/currentlyreading"><button type="submit" class="btn btn-more">More...</button></form>

                </section>

                <section class="mb-4">
                    <h3><a class="home-library" href='/wanttoread'>Books I Want to Read</a></h3>

                    <div class="container d-flex mb-2">
                        <% for (let i=0; i < wantToRead.length && i < 8; i++) { %>
                            <div class="cover-container-home cover-view-home">
                                <a href="/<%= wantToRead[i]._id %>"><img src=<%=wantToRead[i].cover %>
                                    alt="<%= read[i].title %> " class="cover-grid-home"></a>
                            </div>
                            <% } %>
                    </div>

                    <form action="/wanttoread"><button type="submit" class="btn btn-more">More...</button>
                    </form>
                </section>

                <section class="mb-4">
                    <h3><a class="home-library" href='/finishedreading'>Books I've Read</a></h3>

                    <div class="container d-flex mb-2">
                        <% for (let i=0; i < read.length && i < 8; i++) { %>
                            <div class="cover-container-home cover-view-home">
                                <a href="/<%= read[i]._id %>"><img src=<%=read[i].cover %> alt="<%= read[i].title %> "
                                        class="cover-grid-home"></a>
                            </div>
                            <% } %>
                    </div>
                    <form action="/finishedreading"><button type="submit" class="btn btn-more">More...</button></form>
                </section>

            </main>

            <%- include('partials/footer.ejs') %>

    </body>

</html>