<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<%- include('partials/head.ejs',{ pageName : "Home" }) %>

    <body>
        <%- include('partials/header.ejs') %>
            <%- include('partials/nav.ejs') %>
                <main>

                    <section>
                        <h3><a href='/<%=username%>/new'> Add a new book</a></h3>
                    </section>
                    <section>
                        <h3><a href='/<%=username%>/currentlyreading'>Current Reads</a></h3>
                    </section>
                    <section>
                        <h3><a href='/<%=username%>/wanttoread'>Future Reads</a></h3>
                    </section>
                    <section>
                        <h3><a href='/<%=username%>/finishedreading'>Completed</a></h3>
                    </section>

                </main>
    </body>

=======
        <%- include('partials/head.ejs',{ pageName : "Home" }) %>
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <main>
            <section>
                <h3><a href='/<%=username%>/currentlyreading'>Current Reads</a></h3>
            </section>
            <section>
                <h3><a href='/<%=username%>/wanttoread'>Future Reads</a></h3>
            </section>
            <section>
                <h3><a href='/<%=username%>/finishedreading'>Completed</a></h3>
            </section>
 
        </main>
    </body>
>>>>>>> e4122b1b4a9d6b425cec3e26c973331048b1d706
</html>