<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs',{ pageName : "Home" }) %>

<body>
<%- include('partials/nav.ejs') %>

<h3><a href='/<%=username%>/currentlyreading'>Books I'm reading</a></h3>
<h3><a href='/<%=username%>/wanttoread'>Books I want to read</a></h3>
<h3><a href='/<%=username%>/finishedreading'>Books I've read</a></h3>

</body>

</html>